<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    <title> Boxing Club Southpaw</title>


    <style>
      .join{
        color:white;
      }
    </style>
  </head>
  <body>


      <section class="section__container trainings_container" id="trainings">
        <h2 class="trainings_header">Choose Your Plan </h2>
        <p class="trainings-subtitle">One step. One punch. One round at the time.
        </p>
        <div class="price__grid">
          <div class="price__card">
            <div class="price__card__content">
              <h4>functional training</h4>
              <p>
                <i class="ri-checkbox-circle-line"></i>
                boxing + high intensity trainings
              </p>
              <img src="images/boxing.jpg" class="training-images">
              <p>
                
              </p>
            </div>
            <button class="btn price__btn"><a href="contact.html" class="join">Join Now</a></button>
          </div>
          <div class="price__card">
              <div class="price__card__content">
                <h4>beginner training</h4>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  boxing basics + overall fitness
                </p>
                <img src="images/beginner.jpg" class="training-images">
                <p>
                  
                </p>
              </div>
              <button class="btn price__btn"><a href="contact.html"class="join" >Join Now</a></button>
            </div>
            <div class="price__card">
              <div class="price__card__content">
                <h4>strength training</h4>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  boxing + strength training
                </p>
                <img src="images/strength.jpg" class="training-images">
                <p>
                  
                </p>
              </div>
              <button class="btn price__btn"><a href="contact.html" class="join">Join Now</a></button>
            </div>
        </div>
        <div class="price__grid">
          <div class="price__card">
            <div class="price__card__content">
              <h4>cardio training</h4>
              <p>
                <i class="ri-checkbox-circle-line"></i>
                boxing + cardio
              </p>
              <img src="images/cardio.jpg" class="training-images">
              <p>
                
              </p>
            </div>
            <button class="btn price__btn"><a href="contact.html" class="join">Join Now</a></button>
          </div>
          <div class="price__card">
              <div class="price__card__content">
                <h4>pro training</h4>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  fight preparation training
                </p>
                <img src="images/protraining.jpg" class="training-images">
                <p>
                  
                </p>
              </div>
              <button class="btn price__btn"><a href="contact.html" class="join" >Join Now</a></button>
            </div>
            <div class="price__card">
              <div class="price__card__content">
                <h4>group training</h4>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  boxing camp + sparring + running
                </p>
                <img src="images/grouprun.jpg" class="training-images">
                <p>
                  
                </p>
              </div>
              <button class="btn price__btn"><a href="contact.html" class="join">Join Now</a></button>
            </div>
          </div>
      </section>
  

      <script src="./../js/fetch.js"></script>
      <script src="./../js/jquery.spapp.js"></script>
      <script src="./../js/jquery.spapp.min.js"></script>
      <script src="./../js/formvalidation.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </body>
</html>